#C1 {
    font-size: 55px;
    color: darkred;
    text-align: center;
}

a:hover {
    color: darkgreen;
}

.image {
    float: left;
    margin-right: 20px;
    border: 2px solid darkred;
}

.info-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.text {
    flex: 1;
    margin-right: 20px;
}

.official-site {
    flex-shrink: 0;
    font-size: 20px;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    padding-bottom: 15px;
}

p{
    margin-left: 25px;
    margin-right: 25px;
}