.dark_red{
    color:darkred;
}

h2 {
    font-family: sans-serif;
    line-height: 1.5;
    text-align: center;
    color:darkred;
    background-color: slategrey;
}

#C1{
    font-size: 45px;
}

.image{
    float: left;
}

.text{
    color: black;
}