.text p {
    font-style: italic;
}

.highlighted {
    background-color: yellow;
}

#C1 {
    font-size: 45px;
    color: darkred;
}

a:hover {
    color: darkgreen;
}

.image {
    float: left;
    margin-right: 20px; /* Add right margin */
    border: 2px solid darkred; /* Add a border */
}

.text {
    padding: 10px; /* Add padding */
    border: 1px solid black; /* Add a border */
}